@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Montserrat:wght@500&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1C1C1C;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.App {
  width: 550px;
  background-color: #FFF7ED;
}
.App .Header {
  background-color: #FFF7ED;
  width: 100%;
  padding: 36px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App .Header .title a {
  font-weight: 900;
  font-size: 26px;
  line-height: 40px;
  color: black;
  text-decoration: none;
}
.App .Header .links a {
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  margin-left: 20px;
}
.App .Header .links a:hover {
  color: #161616;
  text-decoration: underline;
}
.App .Header .selected {
  color: #161616;
  text-decoration: underline;
}
.App .Footer {
  background-color: #252525;
  color: #AAA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px 106px;
}
.App .Home {
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46) 0%, rgba(0, 0, 0, 0.46) 100%), url("../img/home-bg.png"), lightgray 0px -65.191px/100% 178.109% no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: left;
  padding: 50px 30px;
}
.App .Home h1 {
  font-size: 36px;
  font-weight: 800;
  line-height: 42px;
}
.App .Home div {
  font-size: 16px;
  font-weight: 500px;
  line-height: 24px;
}
.App .Home button {
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  background-color: #FF8C38;
  padding: 10px 20px;
  margin-top: 52px;
  width: 100%;
}
.App .About {
  color: #161616;
}
.App .About .img-container {
  overflow: hidden;
  width: 100%;
  height: 234px;
}
.App .About .img-container img {
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.App .About .content {
  margin: 48px 28px 53px 28px;
}
.App .About h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}
.App .About .text {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 55px;
}
.App .About .colored-block {
  width: 100%;
  background-color: #FFCC8D;
  border-radius: 5px;
  padding: 37px 32px;
}
.App .About .colored-block div {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.App .About .colored-block button {
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  color: white;
  padding: 12px 22px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  background-color: #161616;
  padding: 12px 22px;
  margin-top: 25px;
}
.App .Vans {
  padding: 54px 26px 84px 26px;
}
.App .Vans .title {
  color: #161616;
  font-size: 32px;
  font-weight: 700;
  line-height: 34px;
}
.App .Vans .filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 56px 0;
}
.App .Vans .filters button {
  background-color: #FFEAD0;
  border-radius: 5px;
  padding: 6px 26px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #4D4D4D;
}
.App .Vans .filters button.selected {
  background-color: #FFC89F;
}
.App .Vans .filters .clear-btn {
  background-color: transparent;
  text-decoration: underline;
}
.App .Vans .vans {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 34px;
}
.App .Vans .vans a {
  text-decoration: none;
}
.App .Vans .vans .Van .img-container {
  height: 230px;
  width: 230px;
  overflow: hidden;
}
.App .Vans .vans .Van .img-container img {
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.App .Vans .vans .Van .info {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  color: #161616;
  font-size: 20px;
  line-height: 32px;
}
.App .Vans .vans .Van .info .name {
  font-weight: 600;
}
.App .Vans .vans .Van .info .cost {
  display: flex;
  flex-direction: column;
}
.App .Vans .vans .Van .info .cost .price {
  font-weight: 600;
}
.App .Vans .vans .Van .info .cost .time {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: right;
  vertical-align: top;
  font-weight: 500;
  line-height: 1;
}
.App .VanDetail {
  padding: 40px 24px 84px 24px;
}
.App .VanDetail .back {
  display: flex;
  align-items: center;
}
.App .VanDetail .back svg {
  color: #858585;
  margin-right: 10px;
  font-size: 20px;
}
.App .VanDetail .back span {
  font-size: 16px;
  font-weight: 500;
  color: #201F1D;
}
.App .VanDetail .img-container {
  margin: 40px 0 50px 0;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.App .VanDetail .img-container img {
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.App .VanDetail .name {
  margin: 24px 0 10px;
  font-size: 32px;
  font-weight: 700;
  line-height: 34px;
}
.App .VanDetail .price {
  font-size: 24px;
  font-weight: 700;
  line-height: 44px;
}
.App .VanDetail .time {
  font-size: 20px;
  font-weight: 500;
  line-height: 44px;
}
.App .VanDetail .description {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 10px 0 22px;
}
.App .VanDetail .rent-btn {
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  color: white;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  background-color: #FF8C38;
  padding: 10px 0;
  width: 100%;
}
.App .van-type {
  font-family: "Inter", sans-serif;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #FFEAD0;
  padding: 3px 14px;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  background-color: #E17654;
  cursor: pointer;
}
.App .van-type.simple {
  background-color: #E17654;
}
.App .van-type.rugged {
  background-color: #115E59;
}
.App .van-type.luxury {
  background-color: #161616;
}
.App .loading {
  margin-left: 28px;
  margin-bottom: 40px;
}
.App .HostLayout .details-btn {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #161616;
  cursor: pointer;
}
.App .HostLayout .DashboardVans {
  background-color: #FFF7ED;
  padding: 38px 28px 53px;
}
.App .HostLayout .DashboardVans .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.App .HostLayout .DashboardVans .top div {
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
}
.App .HostLayout .DashboardVans .van-tiles .DashboardVanTile {
  background-color: white;
  padding: 18px 24px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App .HostLayout .DashboardVans .van-tiles .DashboardVanTile .left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App .HostLayout .DashboardVans .van-tiles .DashboardVanTile .left .img-container {
  width: 65px;
  height: 65px;
  overflow: hidden;
  margin-right: 17px;
}
.App .HostLayout .DashboardVans .van-tiles .DashboardVanTile .left .img-container img {
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.App .HostLayout .DashboardVans .van-tiles .DashboardVanTile .left .info .name {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}
.App .HostLayout .DashboardVans .van-tiles .DashboardVanTile .left .info .price {
  color: #4D4D4D;
  font-weight: 500;
}
.App .HostLayout .HostVanDetail {
  padding-left: 27px;
}
.App .HostLayout .HostVanDetail .back {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  margin-bottom: 37px;
}
.App .HostLayout .HostVanDetail .back svg {
  color: #858585;
  margin-right: 10px;
}
.App .HostLayout .HostVanDetail .back span {
  color: #201F1D;
  font-weight: 500;
  line-height: 23px;
  text-decoration: underline;
}
.App .HostLayout .HostVanDetail .content {
  width: 500px;
  background-color: white;
  border-radius: 6px;
  margin-bottom: 45px;
  padding: 25px;
}
.App .HostLayout .HostVanDetail .content .top {
  display: flex;
  justify-content: flex-start;
}
.App .HostLayout .HostVanDetail .content .top .img-container {
  height: 160px;
  width: 160px;
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 5px;
}
.App .HostLayout .HostVanDetail .content .top .img-container img {
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.App .HostLayout .HostVanDetail .content .top .info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 160px;
}
.App .HostLayout .HostVanDetail .content .top .info button {
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  color: #FFEAD0;
  padding: 3px 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  background-color: #E17654;
  padding: 3px 0;
  margin-bottom: 16px;
  width: 80px;
}
.App .HostLayout .HostVanDetail .content .top .info .name {
  color: #161616;
  font-size: 26px;
  font-weight: 700;
  line-height: 27px;
}
.App .HostLayout .HostVanDetail .content .top .info .price {
  color: #161616;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}
.App .HostLayout .HostVanDetail .content .top .info .price span {
  font-size: 16px;
  font-weight: 500;
}
.App .HostLayout .HostVanDetail .content nav {
  margin: 0 0 30px 0;
}
.App .HostLayout .HostVanDetail .content .HostVanDetailPricing {
  margin-top: 15px;
}
.App .HostLayout .Reviews {
  padding: 0 25px 64px;
}
.App .HostLayout .Reviews .top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 32px;
}
.App .HostLayout .Reviews .top .title {
  font-size: 32px;
  font-weight: 700;
  line-height: 34px;
  margin-right: 15px;
  color: #161616;
}
.App .HostLayout .Reviews .top div {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #4D4D4D;
}
.App .HostLayout .Reviews .top div span {
  font-weight: 500;
  text-decoration: underline;
}
.App .HostLayout .Reviews .overview {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 26px;
}
.App .HostLayout .Reviews .overview .score {
  font-size: 32px;
  font-weight: 700;
  line-height: 22px;
  margin-right: 8px;
  color: #161616;
}
.App .HostLayout .Reviews .overview svg {
  color: #FF8C38;
  margin-right: 6px;
}
.App .HostLayout nav {
  margin: 36px 0 45px 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 45px;
}
.App .HostLayout nav a {
  margin-right: 29px;
  color: #4D4D4D;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  text-decoration: none;
}
.App .HostLayout nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 700;
}
.App .HostLayout nav a.selected {
  color: #161616;
  text-decoration: underline;
  font-weight: 700;
}
.App .HostLayout .Dashboard .dashboard-income {
  background-color: #FFEAD0;
  padding: 37px 29px;
}
.App .HostLayout .Dashboard .dashboard-income .welcome {
  font-size: 36px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 32px;
}
.App .HostLayout .Dashboard .dashboard-income .time-section {
  margin-bottom: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App .HostLayout .Dashboard .dashboard-income .time-section span {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #4D4D4D;
}
.App .HostLayout .Dashboard .dashboard-income .time-section .days {
  font-weight: 700;
  text-decoration: underline;
}
.App .HostLayout .Dashboard .dashboard-income .amount {
  color: #161616;
  font-size: 48px;
  font-weight: 800;
  line-height: 38px;
}
.App .HostLayout .Dashboard .dashboard-reviews {
  background-color: #FFDDB2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 29px;
}
.App .HostLayout .Dashboard .dashboard-reviews .score-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.App .HostLayout .Dashboard .dashboard-reviews .score-section .text {
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
  color: #161616;
  margin-right: 12px;
}
.App .HostLayout .Dashboard .dashboard-reviews .score-section .rating {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.App .HostLayout .Dashboard .dashboard-reviews .score-section .rating svg {
  color: #FF8C38;
  margin-right: 3px;
}
.App .HostLayout .Dashboard .dashboard-reviews .score-section .rating span {
  font-weight: 700;
}