@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Montserrat:wght@500&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1C1C1C;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.App {
  width: 550px;
  background-color: #FFF7ED;
}
.App .Header {
  background-color: #FFF7ED;
  width: 100%;
  padding: 36px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App .Header .title a {
  font-weight: 900;
  font-size: 26px;
  line-height: 40px;
  color: black;
  text-decoration: none;
}
.App .Header .links a {
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  margin-left: 20px;
}
.App .Header .links a:hover {
  color: #161616;
  text-decoration: underline;
}
.App .Header .selected {
  color: #161616;
  text-decoration: underline;
}
.App .Footer {
  background-color: #252525;
  color: #AAA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px 106px;
}
.App .Home {
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46) 0%, rgba(0, 0, 0, 0.46) 100%), url("../img/home-bg.png"), lightgray 0px -65.191px/100% 178.109% no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: left;
  padding: 50px 30px;
}
.App .Home h1 {
  font-size: 36px;
  font-weight: 800;
  line-height: 42px;
}
.App .Home div {
  font-size: 16px;
  font-weight: 500px;
  line-height: 24px;
}
.App .Home button {
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  background-color: #FF8C38;
  padding: 10px 20px;
  margin-top: 52px;
  width: 100%;
}
.App .About {
  color: #161616;
}
.App .About .img-container {
  overflow: hidden;
  width: 100%;
  height: 234px;
}
.App .About .img-container img {
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.App .About .content {
  margin: 48px 28px 53px 28px;
}
.App .About h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}
.App .About .text {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 55px;
}
.App .About .colored-block {
  width: 100%;
  background-color: #FFCC8D;
  border-radius: 5px;
  padding: 37px 32px;
}
.App .About .colored-block div {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.App .About .colored-block button {
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  color: white;
  padding: 12px 22px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  background-color: #161616;
  padding: 12px 22px;
  margin-top: 25px;
}
.App .Vans {
  padding: 54px 26px 84px 26px;
}
.App .Vans .title {
  color: #161616;
  font-size: 32px;
  font-weight: 700;
  line-height: 34px;
}
.App .Vans .filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 56px 0;
}
.App .Vans .filters button {
  background-color: #FFEAD0;
  border-radius: 5px;
  padding: 6px 26px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #4D4D4D;
}
.App .Vans .filters button.selected {
  background-color: #FFC89F;
}
.App .Vans .filters .clear-btn {
  background-color: transparent;
  text-decoration: underline;
}
.App .Vans .vans {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 34px;
}
.App .Vans .vans a {
  text-decoration: none;
}
.App .Vans .vans .Van .img-container {
  height: 230px;
  width: 230px;
  overflow: hidden;
}
.App .Vans .vans .Van .img-container img {
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.App .Vans .vans .Van .info {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  color: #161616;
  font-size: 20px;
  line-height: 32px;
}
.App .Vans .vans .Van .info .name {
  font-weight: 600;
}
.App .Vans .vans .Van .info .cost {
  display: flex;
  flex-direction: column;
}
.App .Vans .vans .Van .info .cost .price {
  font-weight: 600;
}
.App .Vans .vans .Van .info .cost .time {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: right;
  vertical-align: top;
  font-weight: 500;
  line-height: 1;
}
.App .VanDetail {
  padding: 40px 24px 84px 24px;
}
.App .VanDetail .back {
  display: flex;
  align-items: center;
}
.App .VanDetail .back svg {
  color: #858585;
  margin-right: 10px;
  font-size: 20px;
}
.App .VanDetail .back span {
  font-size: 16px;
  font-weight: 500;
  color: #201F1D;
}
.App .VanDetail .img-container {
  margin: 40px 0 50px 0;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.App .VanDetail .img-container img {
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.App .VanDetail .name {
  margin: 24px 0 10px;
  font-size: 32px;
  font-weight: 700;
  line-height: 34px;
}
.App .VanDetail .price {
  font-size: 24px;
  font-weight: 700;
  line-height: 44px;
}
.App .VanDetail .time {
  font-size: 20px;
  font-weight: 500;
  line-height: 44px;
}
.App .VanDetail .description {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 10px 0 22px;
}
.App .VanDetail .rent-btn {
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  color: white;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  background-color: #FF8C38;
  padding: 10px 0;
  width: 100%;
}
.App .van-type {
  font-family: "Inter", sans-serif;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #FFEAD0;
  padding: 3px 14px;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  background-color: #E17654;
  cursor: pointer;
}
.App .van-type.simple {
  background-color: #E17654;
}
.App .van-type.rugged {
  background-color: #115E59;
}
.App .van-type.luxury {
  background-color: #161616;
}
.App .loading {
  margin-left: 28px;
  margin-bottom: 40px;
}