// uncomment to use pico css
// @import '@picocss/pico/css/pico.css';

// @import "~@fortawesome/fontawesome-free/css/all.min.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Montserrat:wght@500&display=swap');

@mixin custom-btn($border-radius, $text-color, $bg-color, $font-size, $font-weight, $line-height, $padding) {
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    border-radius: $border-radius;
    color: $text-color;
    padding: $padding;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    background-color: $bg-color;
    padding: $padding;
}

@mixin selected() {
    color: #161616;
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.App {
    width: 550px;
    // height: 385px;
    background-color: #FFF7ED;

    .Header {
        background-color: #FFF7ED;
        width: 100%;
        padding: 36px 26px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title a {
            font-weight: 900;
            font-size: 26px;
            line-height: 40px;
            color: black;
            text-decoration: none;
        }

        .links {
            a {
                color: #4D4D4D;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                text-decoration: none;
                margin-left: 20px;

                &:hover {
                    @include selected();
                }
            }
        }

        .selected {
            @include selected();
        }
    }

    .Footer {
        background-color: #252525;
        color: #AAA;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 26px 106px;
    }

    .Home {
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.46) 0%, rgba(0, 0, 0, 0.46) 100%), url("../img/home-bg.png"), lightgray 0px -65.191px / 100% 178.109% no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        text-align: left;
        padding: 50px 30px;

        h1 {
            font-size: 36px;
            font-weight: 800;
            line-height: 42px;
        }

        div {
            font-size: 16px;
            font-weight: 500px;
            line-height: 24px;
        }

        button {
            @include custom-btn(5px, white, #FF8C38, 16px, 700, 32px, 10px 20px);
            margin-top: 52px;
            width: 100%;
        }
    }

    .About {
        color: #161616;

        .img-container {
            overflow: hidden;
            width: 100%;
            height: 234px;

            img {
                width: 100%;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                object-fit: cover;
            }
        }

        .content {
            margin: 48px 28px 53px 28px;
        }

        h1 {
            font-size: 32px;
            font-weight: 700;
            line-height: 38px;
        }

        .text {
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            margin-bottom: 55px;
        }

        .colored-block {
            width: 100%;
            // height: 200px;
            background-color: #FFCC8D;
            border-radius: 5px;
            padding: 37px 32px;

            div {
                font-size: 24px;
                font-weight: 700;
                line-height: 30px;
            }

            button {
                @include custom-btn(10px, white, #161616, 16px, 700, 24px, 12px 22px);
                margin-top: 25px;
            }
        }

    }

    .Vans {
        padding: 54px 26px 84px 26px;

        .title {
            color: #161616;
            font-size: 32px;
            font-weight: 700;
            line-height: 34px;

        }

        .filters {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 30px 0 56px 0;

            button {
                background-color: #FFEAD0;
                border-radius: 5px;
                padding: 6px 26px;
                cursor: pointer;
                border: none;
                outline: none;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                color: #4D4D4D;

                &.selected {
                    background-color: #FFC89F;
                }
            }

            .clear-btn {
                background-color: transparent;
                text-decoration: underline;
                // color: white;
            }
        }

        .vans {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 34px;

            a {
                text-decoration: none;
            }

            .Van {
                .img-container {
                    height: 230px;
                    width: 230px;
                    overflow: hidden;

                    img {
                        height: 100%;
                        position: relative;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        object-fit: cover;
                    }
                }

                .info {
                    margin-top: 10px;
                    display: flex;
                    justify-content: space-between;
                    color: #161616;
                    font-size: 20px;
                    line-height: 32px;

                    .name {
                        font-weight: 600;
                    }

                    .cost {
                        display: flex;
                        flex-direction: column;

                        .price {
                            font-weight: 600;
                        }
                        .time {
                            font-family: 'Montserrat', sans-serif;
                            font-size: 14px;
                            text-align: right;
                            vertical-align: top;
                            font-weight: 500;
                            line-height: 1;
                        }
                    }
                }
            }
        }
    }

    .VanDetail {
        padding: 40px 24px 84px 24px;

        .back {
            display: flex;
            align-items: center;

            svg {
                color: #858585;
                margin-right: 10px;
                font-size: 20px;
            }

            span {
                font-size: 16px;
                font-weight: 500;
                color: #201F1D;
            }
        }

        .img-container {
            margin: 40px 0 50px 0;
            width: 100%;
            height: 500px;
            overflow: hidden;

            img {
                width: 100%;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                object-fit: cover;
            }
        }

        .name {
            margin: 24px 0 10px;
            font-size: 32px;
            font-weight: 700;
            line-height: 34px;
        }

        .price {
            font-size: 24px;
            font-weight: 700;
            line-height: 44px;;
        }

        .time {
            font-size: 20px;
            font-weight: 500;
            line-height: 44px;
        }

        .description {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            margin: 10px 0 22px;
        }

        .rent-btn {
            @include custom-btn(5px, white, #FF8C38, 18px, 700, 32px, 10px 0);
            width: 100%;
        }
    }

    .van-type {
        font-family: "Inter", sans-serif;
        border: none;
        outline: none;
        border-radius: 5px;
        color: #FFEAD0;
        padding: 3px 14px;
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
        background-color: #E17654;
        cursor: pointer;

        &.simple {
            background-color: #E17654;
        }

        &.rugged {
            background-color: #115E59;
        }

        &.luxury {
            background-color: #161616;
        }
    }

    .loading {
        margin-left: 28px;
        margin-bottom: 40px;
    }

    .HostLayout {
        .details-btn {
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 16px;
            color: #161616;
            cursor: pointer;
        }

        .DashboardVans {
            background-color: #FFF7ED;
            padding: 38px 28px 53px;

            .top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 30px;

                div {
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 22px;
                }
            }

            .van-tiles {
                .DashboardVanTile {
                    background-color: white;
                    padding: 18px 24px;
                    margin-bottom: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
    
                    .left {
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        .img-container {
                            width: 65px;
                            height: 65px;
                            overflow: hidden;
                            margin-right: 17px;
    
                            img {
                                height: 100%;
                                position: relative;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                object-fit: cover;
                            }
                        }
    
                        .info {
                            .name {
                                font-size: 20px;
                                font-weight: 600;
                                line-height: 32px;
                            }
    
                            .price {
                                color: #4D4D4D;
                                font-weight: 500;
                            }
                        }
                    }   
                }
            }

            
        }

        .HostVanDetail {
            padding-left: 27px;

            .back {
                display: flex;
                justify-content: start;
                align-items: center;
                cursor: pointer;
                margin-bottom: 37px;

                svg {
                    color: #858585;
                    margin-right: 10px;
                }

                span {
                    color: #201F1D;
                    font-weight: 500;
                    line-height: 23px;
                    text-decoration: underline;
                }
            }

            .content {
                width: 500px;
                background-color: white;
                border-radius: 6px;
                margin-bottom: 45px;
                padding: 25px;

                .top {
                    display: flex;
                    justify-content: start;
                    // align-items: center;

                    .img-container {
                        height: 160px;
                        width: 160px;
                        overflow: hidden;
                        margin-bottom: 25px;
                        border-radius: 5px;

                        img {
                            height: 100%;
                            position: relative;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            object-fit: cover;
                        }
                    }

                    .info {
                        margin-left: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 160px;

                        button {
                            @include custom-btn(5px, #FFEAD0, #E17654, 14px, 600, 26px, 3px 0);
                            margin-bottom: 16px;
                            width: 80px;
                        }

                        .name {
                            color: #161616;
                            font-size: 26px;
                            font-weight: 700;
                            line-height: 27px;
                        }

                        .price {
                            color: #161616;
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 36px;

                            span {
                                font-size: 16px;
                                font-weight: 500;
                            }
                        }
                    }
                }

                nav {
                    margin: 0 0 30px 0;
                }

                .HostVanDetailPricing {
                    margin-top: 15px;
                }
            }
        }

        .Reviews {
            padding: 0 25px 64px;

            .top {
                display: flex;
                justify-content: start;
                align-items: end;
                margin-bottom: 32px;

                .title {
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 34px;
                    margin-right: 15px;
                    color: #161616;
                }

                div {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 22px;
                    color: #4D4D4D;

                    span {
                        font-weight: 500;
                        text-decoration: underline;
                    }
                }
            }

            .overview {
                display: flex;
                justify-content: start;
                align-items: center;
                margin-bottom: 26px;

                .score {
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 22px;
                    margin-right: 8px;
                    color: #161616;
                }

                svg {
                    color: #FF8C38;
                    margin-right: 6px;
                }
            }

            .charts {

            }
        }

        nav {
            margin: 36px 0 45px 32px;
            display: flex;
            justify-content: start;
            align-items: center;
            margin-bottom: 45px;

            a {
                margin-right: 29px;
                color: #4D4D4D;
                font-size: 18px;
                font-weight: 500;
                line-height: 23px;
                text-decoration: none;

                &:hover {
                    @include selected();
                    font-weight: 700;
                }

                &.selected {
                    @include selected();
                    font-weight: 700;
                }
            }
        }
        .Dashboard {
            .dashboard-income {
                background-color: #FFEAD0;
                padding: 37px 29px;

                .welcome {
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 22px;
                    margin-bottom: 32px;
                }

                .time-section {          
                    margin-bottom: 31px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 22px;
                        color: #4D4D4D;
                    }

                    .days {
                        font-weight: 700;
                        text-decoration: underline;
                    }
                }

                .amount {
                    color: #161616;
                    font-size: 48px;
                    font-weight: 800;
                    line-height: 38px;
                }
            }

            .dashboard-reviews {
                background-color: #FFDDB2;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 45px 29px;

                .score-section {
                    display: flex;
                    align-items: center;
                    justify-content: start;

                    .text {
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 22px;
                        color: #161616;
                        margin-right: 12px;
                    }

                    .rating {
                        display: flex;
                        align-items: center;
                        font-size: 20px;

                        svg {
                            color: #FF8C38;
                            margin-right: 3px;
                        }

                        span {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

